# --------------------------------------------------
# Python / General
# --------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.ipynb_checkpoints/
.DS_Store
.env
.venv/
venv/
env/
*.sqlite3
*.db

# --------------------------------------------------
# Root files to ignore
# --------------------------------------------------
*.csv
EDA*.ipynb
scheduler*.py

# --------------------------------------------------
# Data / Outputs
# --------------------------------------------------
data/raw_data/
data/cleaned/
data/raw_aqi_data.csv
data/raw_weather_data.csv
data/forecast_weather_cleaned.csv
data/predictions/*
!data/predictions/latest_predictions.csv  # keep only latest prediction

# --------------------------------------------------
# Model Artifacts
# --------------------------------------------------
models/
!models/README.md
# !models/my_trained_model.pkl  # optional if you want to include a specific model

# --------------------------------------------------
# Hopsworks / Cache
# --------------------------------------------------
hopsworks_cache/
tmp/
cache/
__MACOSX/

# --------------------------------------------------
# IDE / Editor
# --------------------------------------------------
.vscode/
.idea/
*.code-workspace

# --------------------------------------------------
# CI/CD / Scheduler
# --------------------------------------------------
.github/*.log
